.attribution {
  /* fixed positioning in the bottom */
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100vw;
  font-size: $font-smaller-size;
  text-align: center;
  background-color: $very-pale-blue;
  padding: 5px 0;

  &__link {
    color: $primary-blue;
  }
}
