%button-base {
  background: $primary-blue;
  height: 60px;
  font-family: $font-stack;
  font-size: $font-regular-size;
  font-weight: 700;
  color: $primary-white;
  border: 0;
  border-radius: $regular-radius;
  cursor: pointer;
}

.button {
  &__proceed {
    @extend %button-base;
    background: $primary-blue;
    color: $primary-white;
    box-shadow: 0px 20px 30px 5px $background-blue;

    &:hover {
      background: $darker-blue;
    }

    &:active {
      background: $primary-white;
      border: 2px $primary-blue solid;
      color: $primary-blue;
    }
  }

  &__cancel {
    @extend %button-base;
    background: transparent;
    color: $desaturated-blue;

    &:hover {
      background: $very-pale-blue;
    }

    &:active {
      background: $primary-white;
      border: 2px $desaturated-blue solid;
    }
  }
}
