body {
  font-size: $font-regular-size;
  font-family: $font-stack;
  color: $desaturated-blue;
  background: $background-blue generate-background-url("mobile") no-repeat;
  background-size: 100%;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: $font-big-size;
  font-weight: 900;
}
